.ahl {
	margin-right: .5em;
}

.ahl,
.ahl__hover-content {
	position: relative;
	display: flex;
	align-items: center;
	background-color: inherit;
	background: inherit;
}

.ahl__hover-content {
	position: absolute;
	right: 100%;
	z-index: 100;
	padding-left: .5em;
}

.ahl:not(:hover) .ahl__hover-content {
	display: none;
}

.ahl__background-fade {
	position: absolute;
	right: 100%;
	width: 30px;
	cursor: default;
}

.ahl__field-name {
	position: relative;
	top: -1px;
	padding-left: .25em;
	padding-right: .25em;
	font-size: 14px;
	color: #98a3ae;
	cursor: default;
}

.ahl__link {
	position: relative;
	display: flex;
	align-items: center;
	float: right;
	padding: 0 !important;
	margin: 0 .25em;
	opacity: .5;
	color: #354b60;
}

.ahl__link:hover {
	text-decoration: none;
	opacity: .75;
}

.ahl__link,
.ahl__link:hover,
.ahl__link:active,
.ahl__link:visited {
	color: #354b60 !important;
}

.ahl__keep-height {
	width: 0px;
	overflow: hidden;
}

.ahl__link i {
	font-size: 12px;
}

.InputfieldStateCollapsed .ahl {
	position: relative;
	top: 1px;
}

.ahl__template {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.ahl__template-name {
	color: #98a3ae;
}

.ahl__link--template {
	padding-right: .75em !important;
	padding-left: .5em !important;
	height: auto !important;
	border: none !important;
}

.ahl__link--template:hover {
	border: none !important;
	background-color: transparent !important;
}

.ahl__template:not(:hover) .ahl__template-name {
	display: none;
}

.ahl__template a:hover {
	opacity: .75;
}


/* overwrite PW styles */

.ahl--init .toggle-icon {
	display: flex;
	flex-direction: row-reverse;
	width: auto;
	font-family: inherit;
	background-color: inherit;
	background: inherit;
}

.AdminThemeDefault .ahl--init > .InputfieldHeader > .toggle-icon {
	background-color: white;
}

.AdminThemeDefault .InputfieldItemList.ahl--init > .InputfieldHeader > .toggle-icon {
	background-color: #fdfdfc;
}

.AdminThemeDefault .InputfieldItemList > .InputfieldHeader .ahl__background-fade {
	background: linear-gradient(to left, #f7f6f3, transparent) !important;
}

.ahl--init .toggle-icon::before {
	font-family: FontAwesome;
}


.ahl--init .InputfieldNameTip {
	display: none;
}
