.AdminHelperLinks,
.AdminHelperLinks .hover-content {
	position: relative;
	display: flex;
	align-items: center;
	background-color: inherit;
}

.AdminHelperLinks .hover-content {
	position: absolute;
	right: 100%;
	padding-left: 1em;
	z-index: 100;
}

.AdminHelperLinks:not(:hover) .hover-content {
	display: none;
}

.AdminHelperLinks .hover-content .background-fade {
	position: absolute;
	right: 100%;
	width: 30px;
}

.AdminHelperLinks .field-name {
	position: relative;
	top: -1px;
	padding-right: .5em;
	color: #98a3ae;
	cursor: default;
}

.AdminHelperLinksLink {
	position: relative;
	display: flex;
	align-items: center;
	float: right;
	padding-right: .5em;
	opacity: .5;
	color: #354b60;
}

.AdminHelperLinksLink:hover {
	text-decoration: none;
	color: #354b60;
	opacity: .75;
}

.AdminHelperLinksLink.edit-field {
	padding-right: .75em;
}

.AdminHelperLinksLink .keep-height {
	width: 0px;
	overflow: hidden;
}

.AdminHelperLinksLink i {
	font-size: 12px;
}

.InputfieldStateCollapsed .AdminHelperLinks {
	position: relative;
	top: 1px;
}

/* overwrite PW styles */

.AdminHelperLinksInit .toggle-icon {
	display: flex;
	flex-direction: row-reverse;
	width: auto;
	font-family: inherit;
	background-color: inherit;
}

.AdminHelperLinksInit .toggle-icon::before {
	font-family: FontAwesome;
}


.AdminHelperLinksInit .InputfieldNameTip {
	display: none;
}
